.top-list {
	table {
		thead {
			th {
				background: #fdd91a;
				border-right: 1px solid lightgrey;
			}
		}
		tbody {
			td {
				border-right: 1px solid lightgrey;
				border-left: 1px solid lightgrey;
			}
			tr {
				border-bottom: 1px solid lightgrey;
			}
		}
		input {
			width: 100%;
		}
	}
}